
.bg {
    background-image: url('../images/home-hintergrund(bearbeitet).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 428px; 
    width: 100%;
}

.Schlussteil, .Schlussteil .navbar, .Schlussteil .row, .Schlussteil .col-sm-12 {
    background-color: rgb(246, 246, 246) !important;
}
