
.bg {
    background-image: url('../images/home-hintergrund(bearbeitet).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 428px; 
    width: 100%;
}