{% extends "base.html" %}
{% load static %}
{% block title %}
{{ title }} in Bearbeitung
{% endblock %}
{% block navigation %}{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-4 col-sm-6 category-card">
        <div class="card">
            <img src="{% static 'images/Firefly_Handwerker.jpg' %}" alt="Handwerker mit Amboss" class="card-img-top">
            <div class="card-body">
                <h5 class="category-titel">{{ title }} in Bearbeitung</h5>
                <p class="card-text">Diese Seite ist noch nicht verfügbar. Wir arbeiten daran, sie so schnell wie möglich fertigzustellen.</p>
                {% if title == "Profilwebseite" %} <a href="{% url 'profilesite:index' %}" class="btn btn-dark">Zurück zur Startseite</a>
                {% elif title == "Blogwebseite" %} <a href="{% url 'blogs:index' %}" class="btn btn-dark">Zurück zur Startseite</a>{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
