{% extends "base.html" %}
{% load static %}
{% block title %}
Profilwebseite in Bearbeitung
{% endblock %}
{% block navigation %}{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row g-0">
        <div class="col-md-4 col-sm-6 category-card">
            <div class="card">
                <div class="card-body">
                    <h5 class="category-titel">Profilwebseite in Bearbeitung</h5>
                    <p class="card-text">Diese Seite ist noch nicht verfügbar. Wir arbeiten daran, sie so schnell wie möglich fertigzustellen.</p>
                    <a href="{% url 'profilesite:index' %}" class="btn btn-dark">Zurück zur Startseite</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="{% static 'profilesite/images/Firefly_Handwerker.jpg' %}" 
            alt="Handwerker mit Amboss" 
            class="img-fluid rounded-end custom-card-img">
        </div>
    </div>
</div>
{% endblock %}
